body {
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px 100px 10px 100px;
}

td {
	border: 1px solid #dddddd;
    text-align: center;
    padding: 10px 50px 10px 50px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

img{
	height: 100px;
	width: 100px;
}


.startPage {
	background-image: url("img/catImage.png");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: relative;
	text-align: center;
	height: 750px;
	width: 100%;
	display: block;
}

#startText {
	margin: 40px auto;
}

#startButton {
	font-size: 20px;
	padding: 10px 30px 10px 30px;
	margin: 0px 0px 30px 0px;

}

#powerupsButton {
	font-size: 20px;
	padding: 5px 30px 5px 30px;
	margin: 0px 20px;
}

#enemiesButton {
	font-size: 20px;
	padding: 5px 30px 5px 30px;
	margin: 0px 20px;
}

#backButtonOne, #backButtonTwo {
	font-size: 20px;
	padding: 10px 30px 10px 30px;
}

.powerupsPage{
	text-align: center;
	display: none;
}

.enemiesPage{
	text-align: center;
	display: none;
}
.gameStarted {
	position: relative;
	height: 100%;
	width: 100%;
	display: none;
}
