body {
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.startPage {
	background-image: url("img/cat_Image.png");
	background-repeat: no-repeat;
	background-position: 50% 80%;
	position: relative;
	text-align: center;
	height: 750px;
	width: 100%;
}

#startText {
	margin: 40px auto;
}

#startButton {
	font-size: 20px;
	padding: 10px 30px 10px 30px;

}



.gameStarted {
	position: relative;
	height: 100%;
	width: 100%;
	display: none;
}
